<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Shopping List</title>
  <link rel="stylesheet" href="">
</head>
<body>
  
  <div class="container">
    <h1> Shopping List </h1>
    <ul>
    </ul>
  </div>


<script>
  const electron = require('electron');
  const { ipcRenderer } =  electron;
  const ul = document.querySelector('ul');

  ipcRenderer.on('item:add', (e, item) => {
    const li = document.createElement('li');
    const itemText = document.createTextNode(item);
    li.appendChild(itemText);
    ul.appendChild(li);
  })


</script>



</body>
</html>